:root {
    --primary: #FFF;
    --secondary: #000;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    background: #ffffff;
    color: #ffffff;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
    margin: 0 auto;
}

h1,
h2,
p,
    {
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 2em;
}

h2 {
    font-weight: 800;
    font-size: 1.5rem;
}

p {
    font-weight: 400;
    font-size: 1.1em;
}

main {
    background-color: #4C9879;
    width: 24em;
    height: auto;
    margin: 2em;
    padding: 2em;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}


main > div:nth-of-type(1) {
    display: flex;
    justify-content: center;
    margin: 2em;
    max-width: 18em;
}

main > div:nth-of-type(1) > img {
    height: 10em;
    width: auto;
    border-radius: 50%;
}

main > div:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    display: flex;
    justify-content: flex-start;
    margin: 2em 0em;
}

main > div:nth-of-type(2) a img {
    width: 8em;
    height: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}


.dot {
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
}

.empty {
    height: 20px;
    width: 20px;
    background-color: #232323;
    border-radius: 50%;
    display: inline-block;
}


.voortgang {
    width: 22em;
    height: auto;
}


.HTML,
.CSS,
.JS,
.DESIGN {
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em;
}
